! 2017/10/01 10:32:25
URxvt.font: xft:WenQuanYi Zen Hei Mono:size=12
URxvt.scrollBar: false

! URxvt.transparent: true
! URxvt.shading:20

urxvt*depth: 32
urxvt*background: rgba:0000/0000/0200/c800

! Extensions

URxvt.perl-ext-common: fullscreen
URxvt.keysym.F11: perl:fullscreen:switch

*.foreground:   #fcfae1
*.background:   #404040
*.cursorColor:  #f595a7
*.color0:       #404040
*.color8:       #262626
*.color1:       #b9454b
*.color9:       #e75252
*.color2:       #bd8d46
*.color10:      #dea552
*.color3:       #f6e497
*.color11:      #d1c180
*.color4:       #f595a7
*.color12:      #d1a5ad
*.color5:       #d28e2a
*.color13:      #b47a24
*.color6:       #ebcd4f
*.color14:      #b9a659
*.color7:       #fcfae1
*.color15:      #f3f2e7
